body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	height: 100%;


}




/*FOOTER - START*/

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #669999;
	color: white;
	text-align: left;
	padding-left: 5%;
	margin-bottom: -600px;

}

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/

.ig {
	position: absolute;
	bottom: 0;
	width: 8%;
	padding-left: 80%;
	margin: 5%;
	display: inline-block;
		margin-bottom: -580px;


}

.fb {
	position: absolute;
	bottom: 0;
	width: 8%;
	padding-left: 70%;
	margin: 5%;
	display: inline-block;
			margin-bottom: -580px;


}

/*FOOTER - SLUT*/


/*KONTAKT OS SIDE - START*/

h1 {

	padding-left: 30%;

}


.maiken2 {

	width: 90%;
	padding-left: 5%;
	padding-top: -20%;
}

.maiken {
	display: none;
}

.farve {

	background-color: #669999;

}

.flex {
	
	display: flex;
	flex-direction: column;
}

.info {

	padding-left: 22%;

}



.info1 {

	padding-left: 30%;
	color: white;
	margin-top: 6%;

}


.info2 {

	padding-left: 25%;
	margin-top: -7%;
	color: white;

}

.adresse {
	margin-top: 2%;
	padding-left: 40%;
}

.adresse2 {

	padding-left: 14%;
	margin-top: -4%;

}


.googlemap {

	width: 100%;
	padding-bottom: 45%;
}


/*KONTAKT OS SIDE - SLUT*/


/*PRODUKT SIDE START*/


.linebreak {

	border-bottom: 1px solid black;
	width: 300px;
	margin: 0 auto;
	margin-top: 7%;
}

wrapper > img {


	display: flex;
	width: 30%;
	margin: 15%;
	padding-left: 20%;
	padding-top: -15%;
	padding-bottom: -15%;


}

.m,
.m1,
m2 {
	padding-left: 5%;

	margin-bottom: -5%;
}

.m3 {

	padding-bottom: 45%;
	padding-left: 5%;

}

.maiken4 {

	display: none;
}


/*PRODUKT SIDE SLUT*/


/*WEB STARTER*/

@media all and (min-width: 1024px) {

	/*FOOTER*/

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #669999;
	color: white;
	text-align: left;
	padding-left: 5%;
	margin-bottom: -300px;

}

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/

.ig {
	position: absolute;
	bottom: 0;
	width: 5%;
	padding-left: 80%;
	margin: 5%;
	display: inline-block;
		margin-bottom: -250px;


}

.fb {
	position: absolute;
	bottom: 0;
	width: 5%;
	padding-left: 70%;
	margin: 5%;
	display: inline-block;
			margin-bottom: -250px;


}

	/*KONTAKT OS SIDE*/

	.maiken {

		width: 50%;
		float: right;
		padding-right: 1%;
		display: block;		

	}

	.maiken2 {

		display: none;
	}



	.kontakt {

		margin-left: -28%;


	}


	.farve {

		background-color: white;
	}


	.info1 {

		color: black;
		margin-left: -25%;

	}

	.info2 {

		color: black;
		margin-left: -20%;
		margin-top: 2%;

	}


	.adresse {

		margin-left: -35%;

	}

	.adresse2 {

		margin-left: -9%;
		margin-bottom: -10%;
		padding-top: 5%;

	}

	.googlemap {

		width: 42%;
		padding-top: 15%;
		padding-left: 2%;

	}

	.info {
		display: none;
	}

	/*KONTAKT OS SIDE SLUT */


	/*PRODUKT SIDE START */



	.grid {

		display: grid;
		width: 100%;
		grid-gap: 5px;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:

			"l l l m m m5 m5 m5"
			"s s s m1 m1 m5 m5 m5"
			"m2 m2 m2 m3 m3 m5 m5 m5"
			"st st st m4 m4 m5 m5 m5"
			

	}

	.lampe1 {

		grid-area: l;
		width: 40%;


	}

	.m {

		grid-area: m;
		width: 100%;
		padding-top: 20%;


	}

	.sofa1 {

		grid-area: s;
		width: 40%;


	}

	.m1 {

		grid-area: m1;
		width: 100%;
		padding-top: 20%;


	}

	.skaenk {

		grid-area: m2;
		width: 40%;


	}

	.m2 {


		grid-area: m3;
		width: 100%;
		padding-top: 20%;


	}

	.stol {

		grid-area: st;
		width: 40%;

	}

	.m3 {

		grid-area: m4;
		width: 100%;
		padding-top: 20%;
		margin-bottom: -50%;


	}

	.maiken4 {
		grid-area: m5;
		width: 105%;
		display: block;
		margin-left: -13%;
	}


	.linebreak {

		display: none;
	}
	
	
}
